<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gseek.gs.dao.UserInformationMapper">

    <insert id="insertUserInformation" parameterType="com.gseek.gs.pojo.UserInformation">
        insert into user_information (user_id, email, profile_photo)
            values (#{userInformation.userId},
                    #{userInformation.email},#{userInformation.profilePhoto});
    </insert>

</mapper>