<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gseek.gs.dao.UserInformationMapper">

    <resultMap id="BaseResultMap" type="com.gseek.gs.pojo.UserInformation">
        <id column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="profile_photo" jdbcType="VARCHAR" property="profilePhoto" />
    </resultMap>

    <insert id="insertUserInformation" parameterType="com.gseek.gs.pojo.UserInformation">
        insert into user_information (user_id, email, profile_photo)
            values (#{userInformation.userId},
                    #{userInformation.email},#{userInformation.profilePhoto});
    </insert>

</mapper>