<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gseek.gs.dao.UserPasswordMapper">

    <insert id="insertUserPassword" parameterType="com.gseek.gs.pojo.UserPassword"
            useGeneratedKeys="true" keyColumn="user_id" keyProperty="userId">
        insert into user_password (password, salt)
            values (#{userPassword.password},#{userPassword.salt});
    </insert>

    <select id="selectUserPasswordByUsername" parameterType="string" resultType="com.gseek.gs.pojo.UserPassword">
        select * from user_password where user_name=#{userName};
    </select>

</mapper>