<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gseek.gs.dao.BlacklistMapper">
    <insert id="addReport" parameterType="com.gseek.gs.pojo.dto.BlacklistDTO" >
        insert into gseek.blacklist(claimer_id,respondent_id,appeal_reason,provePic)
        values (#{blacklistDTO.claimerId},#{blacklistDTO.respondentId},#{blacklistDTO.appealReason},#{blacklistDTO.provePic});
    </insert>
    <select id="queryResult" resultType="com.gseek.gs.pojo.business.BlacklistResultBO">
        select appeal_result from gseek.blacklist where black_id=#{blackId};
    </select>
    <select id="queryChecked" resultType="boolean">
        select checked from gseek.blacklist where black_id=#{blackId};
    </select>
    <select id="queryReport" resultType="com.gseek.gs.pojo.bean.BlacklistBean">
        select * from gseek.blacklist where black_id=#{blackId};
    </select>
    <delete id="deleteReport" parameterType="int">
        delete from gseek.blacklist where black_id=#{blackId} ;
    </delete>
    <update id="updateReport" parameterType="com.gseek.gs.pojo.data.BlacklistDO" >
        update gseek.blacklist
            <set>
                    <if test="appealReason != null">
                        appeal_reason = #{appealReason},
                    </if>
                    <if test="provePic != null">
                        provePic = #{provePic},
                    </if>
            </set>
        where black_id=#{blackId};
    </update>
    <select id="queryAllUnchecked" resultType="com.gseek.gs.pojo.data.BlacklistDO">
        select * from gseek.blacklist where checked=0;
    </select>
    <update id="auditReport" parameterType="com.gseek.gs.pojo.business.BlacklistResultBO" >
        update gseek.blacklist
        <set>
            <if test="adminId != null">
                admin_id = #{adminId},
            </if>
            <if test="disapproveReason != null">
                disapprove_reason = #{disapproveReason},
            </if>
            <if test="appealResult != null">
                appeal_result = #{appealResult}
            </if>

        </set>
        where black_id = #{blackId};
    </update>
    <update id="updateCheck" parameterType="int" >
        update gseek.blacklist set checked=1 where black_id=#{blackId};
    </update>
    <select id="queryByRespondentId" resultType="boolean">
        select appeal_result from gseek.blacklist where respondent_id=#{respondentId};
    </select>
    <select id="queryBlackId" resultType="int">
        select black_id from gseek.blacklist where respondent_id=#{respondentId},claimer_id=#{claimerId},checked=0;
    </select>
<!--    <update id="updateAuditResult" parameterType="com.gseek.gs.pojo.data.BlacklistDODO" >-->
<!--        update gseek.blacklistDO set appeal_result=#{appeal_result} where black_id=#{black_id};-->
<!--    </update>-->
    <insert id="insertAuditedBlacklist" parameterType="com.gseek.gs.pojo.data.BlacklistDO">
        insert into gseek.blacklist(claimer_id,respondent_id,appeal_reason,provePic,appeal_result,checked,admin_id)
        values (#{claimerId},#{respondentId},#{appealReason},#{provePic},#{appealResult},1,#{adminId})
    </insert>
</mapper>