<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gseek.gs.dao.ChatRecordMapper">

    <resultMap id="BaseResultMap" type="com.gseek.gs.pojo.data.ChatDO">
        <result column="good_id" jdbcType="INTEGER" property="goodId" />
        <result column="from_user_id" jdbcType="INTEGER" property="fromUserId" />
        <result column="to_user_id" jdbcType="INTEGER" property="toUserId" />
        <result column="text" jdbcType="INTEGER" property="text" />
        <result column="send_time" jdbcType="INTEGER" property="sendTime" />
    </resultMap>

    <select id="selectChat" resultMap="BaseResultMap">
        select *
        from ( select * from chat where good_id = #{goodId} ) as cg
        where cg.from_user_id=#{userId} or cg.to_user_id=#{userId} ;
    </select>

    <insert id="insertChat" parameterType="com.gseek.gs.pojo.data.ChatDO">
        insert into chat (good_id, from_user_id, to_user_id, text, send_time) values
        <foreach collection="chatDOs" item="item" index="index" separator=",">
            (#{item.goodId}, #{item.fromUserId}, #{item.toUserId}, #{item.text}, #{item.sendTime});
        </foreach>
    </insert>
</mapper>