<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.gseek.gs.dao.GoodCoverPicMapper">

    <resultMap id="BaseResultMap" type="com.gseek.gs.pojo.data.GoodCoverPicDO">
        <result column="good_id" jdbcType="INTEGER" property="goodId" />
        <result column="cover_picture_url" jdbcType="VARCHAR" property="coverPictureUrl" />
    </resultMap>

    <select id="selectCoversByGoodId" parameterType="int" resultType="string">
        select cover_picture_url from good_cover_pic where good_id=#{goodId};
    </select>

    <insert id="insertCoverPic" parameterType="java.util.ArrayList" >
        insert into good_cover_pic (good_id, cover_picture_url)
        VALUES

        <foreach collection="list" item="item" index="index" separator=",">
            (#{goodId},#{item})
        </foreach>
    </insert>

</mapper>