<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>WebSocket Test</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js" type="text/javascript"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js" type="text/javascript"></script>
    <meta charset="UTF-8">

    <script>
        var stompClient = null;
        const Http = new XMLHttpRequest();

        function logout(userName, password){
            return fetch('http://localhost:8080/users/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    userName: userName,
                    password: password
                })
            })
                .then(response => response.json())
                .then(data => data);
        }

        function getToken(userName, password) {
            return logout(userName, password).then(
                () => {
                    return fetch('http://localhost:8080/users', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            userName: userName,
                            password: password
                        })
                    })
                        .then(response => response.json())
                        .then(data => data.token);
                }
            )
        }

        function connect(userName, password) {
            getToken(userName, password).then(token => {
                var socket = new WebSocket('ws://localhost:8080/websocket?Authentication='+token);
                stompClient = Stomp.over(socket);
                stompClient.heartbeat.outgoing=3*60*1000;
                stompClient.heartbeat.incoming=3*60*1000;
                stompClient.CsrfToken=token;
                stompClient.connect({}, function (frame) {
                    setConnected(true);
                    console.log('Connected: ' + frame);
                    subscribe('/exchange/amq.fanout');
                    subscribe('/user/queue/notice');
                    subscribe('/user/queue/chat');
                });
            });
        }

        function sendMessage(){
            var userId=$('#chatToUserId').val();
            var message= {
                fromUserId:6,
                toUserId:userId,
                goodId:212112,
                fromUserName:'forehand',
                type:'CHAT_TEXT',
                message:'send from forehand',
                time:1145141919810
            }
            stompClient.send('/user/queue/chat', {}, JSON.stringify(message));
        }

        function setConnected(connected) {
            $("#connect").prop("disabled", connected);
            $("#disconnect").prop("disabled", !connected);
            $("#sendAnnouncement").prop("disabled", !connected);
            $("#sendNotice").prop("disabled", !connected);
            $("#sendChat").prop("disabled", !connected);

            if (connected) {
                $("#conversation").show();
            }
            else {
                $("#messages").empty();
                $("#conversation").hide();
            }
        }

        function disconnect() {
            if (stompClient !== null) {
                stompClient.disconnect();
            }
            setConnected(false);
            console.log("Disconnected");
        }

        function subscribe(destination){
            stompClient.subscribe(destination, function (message) {
                showMessage(JSON.parse(message.body).message);
            });
        }

        function showMessage(message){
            $("#messages").append("<tr><td>" + message + "</td></tr>");
        }

        function sendAnnouncement(){
            const url='http://localhost:8080/test/anno';
            Http.open("GET", url);
            Http.send();
        }

        function sendNotice(){
            const url='http://localhost:8080/test/notice/'+$("#toUserId").val();
            console.log( url );
            Http.open("GET", url);
            Http.send();
        }

        $(function () {
            $("form").on('submit', function (e) {
                e.preventDefault();
            });
            $( "#login" ).click(function() { connect( $( "#loginUserName" ).val(),  $( "#loginPassword" ).val()); });
            $( "#disconnect" ).click(function() { disconnect(); });
            $( "#sendAnnouncement" ).click(function() { sendAnnouncement(); });
            $( "#sendNotice" ).click(function() { sendNotice(); });
            $( "#sendChat" ).click(function() { sendMessage(); });
        });
    </script>

</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="loginUserName">输入用户名</label>
                    <input type="text" id="loginUserName" class="form-control" placeholder="用户名" value="gseekUser">

                    <label for="loginPassword">输入用户密码</label>
                    <input type="text" id="loginPassword" class="form-control" placeholder="用户密码" value="123456">

                    <button id="login" class="btn btn-default" type="submit">登录并连接</button>
                    <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect
                    </button>
                </div>

                <!--<div class="form-group">
                    <label for="connect">WebSocket connection:</label>
                    <button id="connect" class="btn btn-default" type="submit">Connect</button>
                </div>-->
            </form>
        </div>
        <div class="col-md-6">
            <form class="form-inline">
                <label>功能</label>
                <div class="form-group">
                    <button id="sendAnnouncement" class="btn btn-default" type="submit" disabled="disabled">发送公告</button>
                </div>
                <div class="form-inline">
                    <label for="toUserId">输入用户id</label>
                    <input type="text" id="toUserId" class="form-control" placeholder="输入id" value="3">
                    <button id="sendNotice" class="btn btn-default" type="submit" disabled="disabled">发送通知给用户</button>
                </div>
                <div class="form-inline">
                    <label for="chatToUserId">输入用户id</label>
                    <input type="text" id="chatToUserId" class="form-control" placeholder="输入id" value="3" >
                    <button id="sendChat" class="btn btn-default" type="submit" disabled="disabled">发送聊天消息给用户</button>
                </div>
            </form>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>messages</th>
                </tr>
                </thead>
                <tbody id="messages">
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>